<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Login</h3>
    </div>
    <div class="card-body">
      <form class="mt-5" >
        <div class="form-group">
          <label for="">User</label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            [formControl]="id"
          />
          <label for="">Password</label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            [formControl]="password"

          />
        </div>


        <div class="float-right">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="login()"
          >
            Enviar
          </button>
        </div>
      </form>


    </div>
  </div>
  <div class="card mt-5">
    <div class="card-header">
      <h3>Users</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>UserId</th>
              <th>Name</th>
              <th>UserName</th>
              <th>Password</th>
              <th>Address</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let us of users; let indice = index">
              <td>{{ us.id }}</td>
              <td>{{ us.name }}</td>
              <td>{{ us.username }}</td>
              <td>{{ us.password }}</td>
              <td>{{ us.address }}</td>
              <td>
                <a id="" class="btn btn-warning" role="button"
                  ><em class="fas fa-edit"></em
                ></a>
              </td>
              <td>
                <a id="" class="btn btn-danger" role="button"
                  ><em class="fa fa-trash"></em
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
